.qt_for_python/
dist/
example_projects/*.aedtresults/
example_projects/*.aedb/
example_projects/*.aedt/
example_projects/temp/
*.aedtresults/
example_projects/*.lock
example_projects/*.auto
__pycache__/
/**/__pycache__/
**/__pycache__/
out.csv
output/
build/
dist/output/
*.pptx
test/